<div class="container">   
  <div class="col-md-4 text-center button-div "> 
    <a routerLink="./forms"><button id="addidbutton" name="singlebutton" class="btn btn-info button">Add ID Card</button></a> 
  </div> 
  <div class="col-md-4 text-center button-div"> 
    <a routerLink="./addhc"><button id="addhcbutton" name="singlebutton" class="btn btn-info button">Add Health Card</button> </a>
  </div> 
  <br>
  <div style="position: fixed; left:0;">
  <button (click)="onClick()" style="color: #097b8d; padding-left: 2em;" class="btn btn-link">Back</button>
  </div>
</div>

 