<app-menu></app-menu>
<div class="jumbotron border border-dark" style="width:80%; height: 450px; margin-left:35px; margin-top: 20px; background-color: white">

<!-- <div class=" border border-secondary box"> <br><br> -->
 
    <img src="https://www.qimpro.com/images-convention/1/53-d1d3cd97-NibhayeVaade.jpg" style="height:20%; width:100%; margin-top:1%; margin-left:1%;">
    <div class="container">
    <div class="text-center" style="margin-top:20px" >
        <h5> SENECA GLOBAL IT SERVICES PRIVATE LIMITED</h5>
        </div>
    <div class="row" style="margin-top:5%">
      <div class="col-12">
          <div class="row">
              <label class="left">NAME</label>
              <span style="margin-left:18%">: {{article?.firstName}}</span>
            </div>
          <div class="row">
            <label class="left">Policy No</label>
            <span style="margin-left:10.5%">: {{article?.policyno}}</span>
          </div>
          <div class="row">
            <label class="left">UHID</label>
            <span style="margin-left:19.5%">: {{article?.uhid}}</span>
          </div>
          <div class="row">
            <label class="left">Emp ID</label>
            <span style="margin-left:15.5%">: {{article?.eno}}</span>
          </div>
          <div class="row">
              <label class="left">Gender</label>
              <span style="margin-left:15%">: {{article?.gender}}</span>
            </div>
            <div class="row">
                <label class="left">Age</label>
                <span style="margin-left:23%">: {{age}}</span>
              </div>
      </div>
      <!-- <div class="row" style="margin-top:5%; padding-left:2.5%">
          <div class="col-12" style="background-color:orange">
            <span class="text-center">
           <b style="font-size: small; margin-left:3%"> SENECAGLOBAL IT SERVICES PVT.LTD<br></b>
           <span style="font-size:x-small; margin-left:4%">7TH FLOOR, WESTERN PEARL, SURVEY NUMBER13<br></span>
           <span style="font-size:x-small; margin-left:2%">KONDAPUR, HYDERABAD 500084, TELANGANA, INDIA<br></span>
           <span style="font-size:x-small; margin-left:15%">O +91.40.66073500 F +91.40.66073535<br></span>
           <span style="font-size:x-small; margin-left:25%">WWW.SENECAGLOBAL.COM<br></span>
          </span>
          </div>
        </div> -->
    </div>
    </div>

