

<div class=" border border-secondary box"> <br><br>
 <div class="container-fluid">
    <img src="https://www.qimpro.com/images-convention/1/53-d1d3cd97-NibhayeVaade.jpg" style="height:2%; width:100%; margin-top:5%; margin-left:1%;">
      <div class="text-center" style="margin-top:20px" >
        <h5> SENECA GLOABL IT SERVICE PRIVATE</h5>
        </div>
    <div class="row" style="margin-top:5%">
      <div class="col-12">
          <div class="row">
              <label class="left">NAME</label>
              <span style="margin-left:18%">: Praveen</span>
            </div>
          <div class="row">
            <label class="left">Policy No</label>
            <span style="margin-left:10.5%">: 4016/136879813</span>
          </div>
          <div class="row">
            <label class="left">UHID</label>
            <span style="margin-left:19.5%">: lL150904563578094</span>
          </div>
          <div class="row">
            <label class="left">Emp ID</label>
            <span style="margin-left:15.5%">: NO405</span>
          </div>
          <div class="row">
              <label class="left">Gender</label>
              <span style="margin-left:15%">: Male</span>
            </div>
            <div class="row">
                <label class="left">Age</label>
                <span style="margin-left:23%">: 21</span>
              </div>
          <div class="row">
            <label class="left">Validity From</label>
            <span style="margin-left:2%">: 17-sep-18 to 16-aug-19</span>
          </div>
      </div>
    </div>

<div class="container-fluid" style="margin-top:10%">
        <img src="https://www.cignattkonline.in/pay-back/theme/frontend/images/logo.png" style="height:2%; width:100%;margin-left:1%;">
          <div class="text-center" style="margin-top:20px" >
            <h5> SENECA GLOABL IT SERVICE PRIVATE</h5>
            </div>
        <div class="row" style="margin-top:5%">
          <div class="col-12">
              <div class="row">
                  <label class="left" style="margin-left:5%">NAME</label>
                  <span style="margin-left:18%">: Praveen</span>
                </div>
              <div class="row">
                <label class="left" style="margin-left:5%">Policy No</label>
                <span style="margin-left:10.5%">: 4016/1309813</span>
              </div>
              <div class="row">
                <label class="left" style="margin-left:5%">UHID</label>
                <span style="margin-left:19.5%">: lL150908790094</span>
              </div>
              <div class="row">
                <label class="left" style="margin-left:5%">Emp ID</label>
                <span style="margin-left:15.5%">: NO405</span>
              </div>
              <div class="row">
                  <label class="left" style="margin-left:5%">Gender</label>
                  <span style="margin-left:15%">: Male</span>
                </div>
                <div class="row">
                    <label class="left" style="margin-left:5%">Age</label>
                    <span style="margin-left:23%">: 21</span>
                  </div>
              <div class="row">
                <label class="left" style="margin-left:5%">Validity From</label>
                <span style="margin-left:2%">: 17-May-18 to 16-may-19</span>
              </div>
          </div>
        </div>
  </div>

