<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <h2>Associate Details</h2>
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"  class="form-control"  pattern="^[A-Za-z]+$" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
              <div *ngIf="f.firstName.errors.pattern">First Name should contain only alphabets</div>
          </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" pattern="^[A-Za-z]+$" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              <div *ngIf="f.lastName.errors.pattern">Last Name should contain only alphabets</div>
          </div>
          </div>
          <div class="form-group">
            <label for="bgroup">BloodGroup</label>
            <input type="text" class="form-control" formControlName="bgroup" [ngClass]="{'is-invalid':( form.get('bgroup').touched && form.get('bgroup').invalid)||submitted && f.bgroup.errors}">
            <div  class="invalid-feedback">
              <div >BloodGroup is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="eid">Associate Id</label>
            <input type="text" class="form-control" formControlName="eid" [ngClass]="{'is-invalid': (form.get('eid').touched && form.get('eid').invalid)||submitted && f.eid.errors}">
            <div   class="invalid-feedback">
              <div>AssociateId is required</div>
            </div>
          </div>
          <div class="form-group">
            <label >Upload an Image</label>
              <input #imageInput
                     type="file"
                     accept="image/*"
                     (change)="processFile(imageInput)" formControlName="image" [ngClass]="{'is-invalid': (form.get('image').touched && form.get('image').invalid)||submitted && f.image.errors}">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" >Submit</button>
            <span style="padding-right:1em;"></span>
            <button (click)="onClick()" class="btn btn-primary" >Back</button>
          </div>
          
        </form>
    </div>
  </div>
</div>