<app-menu></app-menu>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <h2>Associate Details</h2>
        <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control"  pattern="^[A-Za-z]+$" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
              <div *ngIf="f.firstName.errors.pattern">First Name should contain only alphabets</div>
          </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" pattern="^[A-Za-z]+$" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              <div *ngIf="f.lastName.errors.pattern">Last Name should contain only alphabets</div>
          </div>
          </div>
          <div class="form-group">
              <label>BloodGroup</label>
              <select formControlName="bgroup" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bgroup.errors }" class="browser-default custom-select">
                <!-- <option selected>Open this select menu</option> -->
                <option value="o+ve">O+VE</option>
                <option value="o-ve">O-VE</option>
                <option value="a+ve">A+VE</option>
                <option value="a-ve">A-VE</option>
                <option value="b+ve">B+VE</option>
                <option value="b-ve">B-VE</option>
                <option value="ab+ve">AB+VE</option>
                <option value="ab-ve">AB-VE</option>
              </select>
              <div *ngIf="submitted && f.bgroup.errors" class="invalid-feedback">
                <div *ngIf="f.bgroup.errors.required">Blood Group is required</div>
            </div>
            </div>
          <div class="form-group">
            <label for="eid">Associate Id</label>
            <input type="text" class="form-control" formControlName="eid" [ngClass]="{'is-invalid': submitted && f.eid.errors}">
            <div   class="invalid-feedback">
              <div>AssociateId is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Role</label>
              <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" class="browser-default custom-select">
                <!-- <option selected>Open this select menu</option> -->
                <option value="Admin">Admin</option>
                <option value="Associate">Associate</option>
                <option value="Security">Security</option>
              </select>
              <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">This field is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="email">Email Id</label>
          <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">Enter a valid Email</div>
        </div>
      </div>
        <div class="form-group">
          <label >Upload an Image</label>
            <input #imageInput
                   type="file"
                   accept="image/*"
                   (change)="processFile($event)" formControlName="image" [ngClass]="{'is-invalid': submitted && f.image.errors}" />
            <div   class="invalid-upload" *ngIf=" submitted && f.image.errors">
              <div>Picture not uploaded</div>
            </div>       
        </div>
          
        <div class="form-group">
            <button class="btn btn-primary" >Submit</button>
            <span style="padding-right:1em;"></span>
            <button (click)="onClick()" class="btn btn-primary" >Back</button>
            <div *ngIf="flag">
              <p>Uploading Please Wait....</p>
            </div>
            <div *ngIf="success">
                <p>Submitted Succesfully</p>
              </div>
          </div>
        </form>
    </div>
  </div>
</div>