<div class="jumbotron border border-dark">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
            <style>
                img {
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                }
                </style>
            <img  src="https://lh3.googleusercontent.com/-GIGzOroP85E/VTfuUek2tkI/AAAAAAAAAR0/sdcjRIH_Q8w/seneca-global_logo_Big.png" class="img-fluid" ><br/>
            <img style=" width: 50%"src="https://image.shutterstock.com/image-vector/no-image-available-icon-template-260nw-1036735678.jpg" class="img-fluid" >
            <div class="text-center" >
            <h3 >{{name}}</h3>
       <h3 >{{id}}</h3>
       <h3 >{{bldgrp}}</h3>
      </div>
        </div>
    </div>
</div>
</div>